.App {
  text-align: center;
}

.msll img {
  width: 300px; /* 원하는 너비로 변경 */
  height: auto; /* 비율에 맞게 자동 조정 */
  order: 1;
}

.msll .tabs {
  order: 2;
}



.msll a:not(:last-child) {
  margin-right: 10px; /* Tap1과 Tap2 사이 간격 조정 */
}


.tab1 {
  color: rgb(159, 159, 159);
  font-size: x-large;
  font-family: 'kbo';
  width: auto;
  padding: 25px;
  text-decoration-line: none;
}

.tab2 {
  color: rgb(159, 159, 159);
  font-size: x-large;
  font-family: 'k1';
  width: auto;
  padding: 25px;
  text-decoration-line: none;
}

.msll .tabs a.active {
  color: white; /* 해당 탭 화면일 때 색상 변경 */
}

.msll {
  display: flex;
  background-color: #002063;
  color: white;
  font-size: x-large;
  font-family: 'nanumneo';
  width: auto;
  height: 50px;
  padding: 25px;
  justify-content: space-left;
  align-items: center;
  gap: 35px; /* 탭과 이미지 사이의 간격 조정 */
}

.main_content {
  width: auto;
  height: 100vh; /* 이미지가 화면에 꽉차게 지정 */
  position: relative;
  z-index: 1;
}

.tab-main { /* 탭 화면별 폰트 설정 */
  color: #242428;
  font-family: 'nanumneo';
}

.tab-kboleague {
  color: #242428;
  font-family: 'kbom';
}

.tab-kleague1 {
  color: #242428;
  font-family: 'k1m';
}

.main_content img {
  width: 200px; /* 원하는 너비로 변경 */
  height: 200px; /* 비율에 맞게 자동 조정 */
}

.team-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  flex: 0 0 20%; /* 구단 로고 한 줄에 최대 4개씩만 띄우기 위함 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ulsan {
  /* 울산 현대 이미지에 대한 스타일을 정의합니다 */
}

@font-face {
  font-family: "nanumneo";
  src: url("../src/img&font/NanumSquareNeo-eHv.ttf");
}
@font-face {
  font-family: "nanum";
  src: url("../src/img&font/NanumSquareNeo-cBd.ttf");
}
@font-face {
  font-family: "k1";
  /*src: url("../src/img&font/KLeagueBasic-Medium.ttf");*/
  src: url("../src/img&font/KLeagueDynamic-ExtraBold.ttf");
}
@font-face {
  font-family: "k1m";
  src: url("../src/img&font/KLeagueBasic-Medium.ttf");
}
@font-face {
  font-family: "kbo";
  src: url("../src/img&font/KBO Dia Gothic_bold.ttf");
}
@font-face {
  font-family: "kbom";
  src: url("../src/img&font/KBO\ Dia\ Gothic_medium.ttf");
}